<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Band Reviews list</h1>
    {% for BandPost in bandpost_list %}
    <h2>Band: {{BandPost.name_of_band}}</h2>
    <!--<p>{{bandpost.excerpt}}</p>-->
    <p>Genre: {{BandPost.genre}}</p>
    <p>Marks out of 5: {{BandPost.marks_out_of_five }}</p>
    <p>Review: {{BandPost.band_review}}</p>
    <p>Author: {{BandPost.author}}</p>
    {% endfor %}
</body>

</html>