<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Views Part 1</title>
</head>

<body>
    <h1>Band Reviews list</h1>
    {% for Band_Post in band_post_list %}
    <h2>Band: {{Band_Post.name_of_band}}</h2>
    <!--<p>{{band_post.excerpt}}</p>-->
    <p>Genre: {{Band_Post.genre}}</p>
    <p>Marks out of 5: {{Band_Post.marks_out_of_five }}</p>
    <p>Review: {{Band_Post.band_review}}</p>
    <p>Author: {{Band_Post.author}}</p>
    {% endfor %}
</body>

</html>