{% extends "base.html" %}

{% block content %}



<!--adding band posts-->





<form action="." method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">SUBMIT</button>
</form>





<!--display Band Posts-->
<h1>Band Posts</h1>
{% for BandPost in bandpost_list %}
<h2>Band: {{BandPost.name_of_band}}</h2>
<p>Genre: {{BandPost.genre}}</p>
<p>Venue: {{BandPost.size_of_venue_played}}</p>
<p>Number of members: {{BandPost.number_of_members}}</p>
<p>Marks out of 5: {{BandPost.marks_out_of_five}}</p>
<p>Review:</p>
<p>{{BandPost.band_review}}</p>
<p>Author: {{BandPost.author}}</p>
<p>Updated on: {{BandPost.updated_on}}</p>
<p>Created on: {{BandPost.created_on}}</p>
        
{% endfor %} 

        
{% endblock %}



<!--Sign Up form - from the Coders Cafe tutorial and edited accordingly-->
<!--<section id="signup">
  <form method="POST">
      <h2>Bandblog</h2>
      <h3>Tell us about the band you saw:</h3>
      <div>
          <div>
              <label for="band-name-field">Name of Band:</label>
              <br>
              <input required id="band-name-field" type="text" name="name_of_band"
                  placeholder="Name of band">
          </div>
      </div>
      <br>
      <div>
          <label for="genre">Genre:</label>
          <br>
          <select required id="genre" name="genre">
              <option value="">Please select</option>
              
              <option value="pop">Pop</option>
              <option value="rock">Rock</option>
              <option value="blues">Blues</option>
              <option value="jazz">Jazz</option>
              <option value="other">Other</option>
          </select>
      </div>
      <br>
      <div>
          <label for="venue">Size of venue palyed:</label>
          <br>
          <select required id="venue" name="venue">
              <option value="">Please select</option>
              
              <option value="pub">Pub</option>
              <option value="club">Club</option>
              <option value="arena">Arena</option>
              <option value="stadium">Stadium</option>
          </select>
      </div>
      <br>
      <div>
        <label for="number-of-members">Number of members:</label>
        <br>
        <select required id="number-of-members" name="number-of-members">
            <option value="">Please select</option>
        </select>
        
    </div>
    <br>
    <div>
        <label for="marks-out-of-5">Marks out of 5:</label>
        <br>
        <select required id="marks-out-of-5" name="marks-out-of-5">
            <option value="">Please select</option>
        </select>
        
    </div>
    <br>


      <div>
          <fieldset>
              <legend></legend>
              <label for="band-review">Band review</label>
              <br>
              <textarea id="band-review" rows="4" cols="100" name="band-review"
                  placeholder="Tell us about this band" required></textarea>
                  

                  
          </fieldset>
      </div>
      <br>
      <div id=buttons>
          <button type="submit">
              <strong>Submit</strong>
          </button>
          <input type="reset" value="Reset Form">
      </div>
  </form>
</section>-->